@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
}

main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background-color: $clr-light-grayish-cyan;
    width: 100%;
    height: clamp(800px, 100vh, 100vh);

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        
    }
        
    .container {
        height: $height;
        background-color: white;
        border-radius: 1.8rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        padding: clamp(1rem, calc(1.5rem + 1vw), 2.5rem);

        .left {
            font-family: $ff;

            &__bill {
                position: relative;
                color: $clr-grayish-cyan;
                font-weight: $ff-700;
                margin-bottom: 1.5rem;
            }
            
            .number-input {
                width: 100%;
                height: clamp(1.5rem, calc(2.2rem + 1vw), 3rem);
                background-color: $clr-input;
                padding: 0.6rem;
                font-size: clamp(1rem, calc(1.1rem + 1vw), 2rem);
                font-weight: $ff-700;
                color: $clr-very-dark-cyan;
                text-align: right;
                margin-top: 0.3rem;
                border: none;
                border-radius: 4px;
                outline: solid 2px transparent;
                
            }

            .dollar-user-icon {
                position: absolute;
                bottom: calc(0.5rem + 0.32vw);
                left: 0.6rem;
            }

            &__tip-percent {
                color: $clr-grayish-cyan;
                font-weight: $ff-700;
                margin-bottom: 1.5rem;

                .grid-container {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    grid-template-rows: repeat(3, minmax(0, 1fr));
                    gap: 0.7rem;
                    margin-top: 0.7rem;

                    button {
                        font-family: $ff;
                        font-weight: $ff-700;
                        font-size: 1.2rem;
                        background-color: $clr-very-dark-cyan;
                        border: none;
                        border-radius: 6px;
                        color: $clr-white;
                        height: 2.5rem;
                        cursor: pointer;


                        &:hover {
                            background-color: $clr-numbers;
                            opacity: 0.5;
                        }
                    }

                    input {
                        height: clamp(1.5rem, calc(2.2rem + 1vw), 2.7rem);
                        font-family: $ff;
                        font-weight: $ff-700;
                        font-size: clamp(1rem, calc(1.1rem + 1vw), 1.6rem);
                        background-color: $clr-input;
                        text-align: center;
                        border: none;
                        border-radius: 4px;
                        outline: solid 2px transparent;
                        padding: 0.6rem;
                    }
                }

                @media screen and (min-width: 420px) {
                    .grid-container {
                        grid-template-columns: repeat(3, minmax(0, 1fr));
                        grid-template-rows: repeat(2, minmax(0, 1fr));
                    }
                }
            }

            &__people {
                position: relative;
                color: $clr-grayish-cyan;
                font-weight: $ff-700;
                margin-bottom: 1.5rem;
                
                #zero-error {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: rgb(187, 91, 26);
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            position: relative;
            font-family: $ff;
            font-weight: $ff-700;
            color: $clr-white;
            background-color: $clr-very-dark-cyan;
            padding: 2.5rem 1.5rem 1.5rem 1.5rem;
            border-radius: 1rem;

            &__tip-amount, 
            &__total {
                display: flex;
                flex-direction: row;
                font-size: 0.9rem;
            }

            &__tip-amount {
                margin-bottom: 1.5rem;
            }

            &__total {
                margin-bottom: 2rem;
            }

            .tip-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 0.2rem;
            }
        
            .tip-value {
                color: $clr-numbers;
                font-size: clamp(1rem, calc(1.3rem + 2vw), 2.8rem);
                margin-left: auto;
                align-self: center;
            }

            .person {
                font-size: 0.75rem;
                color: $clr-dark-grayish-cyan;
            }

            button {
                margin-top: auto;
                width: 100%;
                height: 2.3rem;
                background-color: $clr-numbers;
                font-family: $ff;
                font-weight: $ff-700;
                font-size: 1.1rem;
                text-transform: uppercase;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                opacity: 0.1;
            }
        }
        @media screen and (min-width: 850px) {
            .left, 
            .right {
                flex-basis: 50%;
            }
        }
    }

    @media screen and (min-width: 500px) {
        .container {
            min-width: 12.5rem;
            max-width: 31.25rem;
        }
    }

    @media screen and (min-width: 850px) {
        .container {
            max-width: 55rem;
            flex-direction: row;
            column-gap: 1.5rem;
        }
    }
}
@media screen and (min-width: 850px) {
    main {
        align-items: center;
    }
}

// Hides mini arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

